ACTION==add, SUBSYSTEMS==usb, ATTRS{idVendor}==0403, ATTRS{idProduct}==e0d0, MODE=660, GROUP=plugdev
ACTION==add, SUBSYSTEMS==usb, ATTRS{idVendor}==0403, ATTRS{idProduct}==e0d0, MODE=660, GROUP=plugdev
